# GitHub Authentication Configuration (GraphQL API)

# GITHUB_TOKEN can accept a single token or a comma-separated list of tokens.
# Example with 1 token:
# GITHUB_TOKEN="ghp_yourExampleTokenHere123"

# Example with multiple tokens (Recommended to avoid Rate Limits when collecting large amounts of data):
GITHUB_TOKEN="token_1,token_2,token_3"
